
@model Modeli.Models.Osoba
@{

    ViewBag.Title = "StrongTypedFormHelper";
}

<h2>StrongTypedFormHelper</h2>


@using (Html.BeginForm("StrongTypedFormHelper", "HtmlHelperi", FormMethod.Post))
{
    <div>
        <label for="Ime">Ime:</label>
        @Html.TextBoxFor(x=>x.Ime)
    </div>
    <div>
        <label for="Prezime">Prezime:</label>
        @Html.TextBoxFor(x => x.Prezime)
    </div>
    <div>
        <label for="BrojCipela">Broj Cipela:</label>
        @Html.TextBoxFor(x => x.BrojCipela, new { @type="number"})
    </div>
    <div>
        <label for="Email">Email</label>
        @Html.TextBoxFor(x => x.Email)
    </div>
    <div>
        <label for="MjestoStanovanja">Mjesto Stanovanja</label>
        @Html.DropDownListFor(x => x.MjestoStanovanja,
       new SelectList((string[])ViewBag.Mjesta), "Odaberi")
    </div>
    <div>
        <label for="Spol">Spol</label>
        @Html.RadioButtonFor(x=>x.Spol, "M", true) Muško
        @Html.RadioButtonFor(x=>x.Spol, "Z", false) Žensko
    </div>
    <div>
        <label for="Zaposlen">Zaposlen</label>
        @Html.CheckBoxFor(x => x.Zaposlen, false)
    </div>
    <input type="submit" value="Pošalji" />
}
<p>
    <label style="color:red">@ViewBag.Poruka</label>
</p>
