
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        @ViewBag.Message
    </div>
    @Html.ActionLink("Kreiraj tečaj", "Create", "SqlCommandObjekt") <br />
    @Html.ActionLink("Uredi tečaj", "Edit", "SqlCommandObjekt") <br />
    @Html.ActionLink("Obriši tečaj", "Delete", "SqlCommandObjekt") <br />
    @Html.ActionLink("Vrati broj tečaja", "Count", "SqlCommandObjekt") <br />
</body>
</html>
