@model HelloWorld.Models.Osoba
@{
    ViewBag.Title = "StronglyTypedHelper";
}

<h2>StronglyTypedHelper</h2>

<div>
    @using (Html.BeginForm("StronglyTypedHelper", "HtmlHelpers"))
    {
        <div>
            <label>Ime:</label>
            @Html.TextBoxFor(x => x.Ime)
        </div>
        <div>
            <label>Prezime:</label>
            @Html.TextBoxFor(x => x.Prezime)
        </div>
        <div>
            <label>Email:</label>
            @Html.TextBoxFor(x => x.Email)
        </div>
        <div>
            <label>MjestoStanovanja:</label>
            @Html.DropDownListFor(x => x.MjestoStanovanja,
                    new SelectList((string[])ViewBag.Mjesta), "--Odaberi--")
        </div>
        <div>
            <label>Spol:</label><br />
            @Html.RadioButtonFor(x => x.Spol, "M", true) Muško <br />
            @Html.RadioButtonFor(x => x.Spol, "Ž", false) Žensko <br />
        </div>
        <div>
            <label>Zaposlen:</label>
            @Html.CheckBoxFor(x => x.Zaposlen, false)<br />
        </div>
        <input type="submit" value="Pošalji" />
    }
</div>
<div>
    <label class="redColor">@ViewBag.Poruka</label>
</div>